* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 2rem;
  background-image: linear-gradient(to right, #CDCBC0, #9A8F84)
}

.about {
  width: 25vw;
}
