* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-image: url(../public/Chicago_skyline_kz03.jpg);
  background-size: cover;
}

p {
  width: 25vw;
}