* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 2rem;
  background-image: url('./Images/Chicago_skyline_kz03.jpg');
  background-size: cover;
}

.about {
  width: 25vw;
}